
simple-program/python-library-system/library_data/save.dta
simple-program/python-library-system/library_data/library_log.log
exurl.txt
url.txt
simple-program/sMartix/Planning.py
simple-program/sMartix/Planning.py
simple-program/tools-in-python-shell/myid-checked.csv
simple-program/tools-in-python-shell/myid.txt
simple-program/2048-python-game/2048save.sav
simple-program/tools-in-python-shell/myass.ass
simple-program/tools-in-python-shell/choujiang.txt
simple-program/tools-in-python-shell/1_slide-01.svg
simple-program/tools-in-python-shell/1_slide-01.ai
simple-program/tools-in-python-shell/slide-01.svg
